.launch {
    background: #F1FFF3;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.launch_logo {
    color: #00D09E;
    margin-top: 8rem;
}

.launch_text {
    color: #00D09E;
    font-size: 52.14px;
    font-weight: 600;
    line-height: 57.36px;
    letter-spacing: 4px;
    text-align: center;
}

.launch_welcome_text {
    margin-top: 20px;
}

.forgot_password {
    margin-top: 10px;
    text-decoration: none;
    color: #000;
}

.forgot_password a {
    text-decoration: none;
    color: #000;
}

